.tabs {
  margin-top: 1.5rem;
  margin-bottom: 0.1rem;
  width: 100%;
  position: relative;
  background: transparent;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content {
  background: #ffff;
  box-shadow: 0 1em 2em -0.5em rgba(0, 0, 0, 0.1);
  width: 100%;
}
.section-chart {
  width: 100%;
}
.section-chart canvas {
  width: 100% !important;
}
.tabs input[name="tab-control"] {
  display: none;
}
.tabs ul {
  width: auto;
  box-sizing: border-box;
  list-style-type: none;
  padding-left: 0;
  display: flex;
  margin-bottom: 0;
}
.tabs ul li {
  box-sizing: border-box;
  height: auto !important;
  text-align: center;
  display: flex;
  align-items: center;
}
.tabs ul li label {
  background: #e9ecf1;
  color: #858796;
  box-sizing: border-box;
  height: 100%;
  height: 100% !important;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
  -webkit-touch-callout: none;
  height: 100%;
  padding: 10px;
}
ul > li:nth-child(1) > label {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
ul > li:last-child > label {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.tabs .content {
  margin-top: 10px;
  padding: 20px;
}
.tabs .content section {
  display: none;
  animation-name: content;
  animation-direction: normal;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  line-height: 1.4;
}
.tabs .content section h2 {
  color: #428bff;
  display: none;
}
.tabs .content section h2::after {
  content: "";
  position: relative;
  display: block;
  width: 30px;
  height: 3px;
  background: #428bff;
  margin-top: 5px;
  left: 1px;
}
.tabs
  input[name="tab-control"]:nth-of-type(1):checked
  ~ ul
  > li:nth-child(1)
  > label {
  cursor: default;
  background: #36b9cc;
  color: #fff;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
@media (max-width: 600px) {
  .tabs
    input[name="tab-control"]:nth-of-type(1):checked
    ~ ul
    > li:nth-child(1)
    > label {
    background: rgba(0, 0, 0, 0.08);
  }
}
.tabs input[name="tab-control"]:nth-of-type(1):checked ~ .slider {
  transform: translateX(0%);
}
.tabs
  input[name="tab-control"]:nth-of-type(1):checked
  ~ .content
  > section:nth-child(1) {
  display: block;
}
.tabs
  input[name="tab-control"]:nth-of-type(2):checked
  ~ ul
  > li:nth-child(2)
  > label {
  cursor: default;
  background: #f6c23e;
  color: #fff;
}
.tabs
  input[name="tab-control"]:nth-of-type(2):checked
  ~ ul
  > li:nth-child(2)
  > label
  svg {
  fill: purple;
}
@media (max-width: 600px) {
  .tabs
    input[name="tab-control"]:nth-of-type(2):checked
    ~ ul
    > li:nth-child(2)
    > label {
    background: rgba(0, 0, 0, 0.08);
  }
}
.tabs input[name="tab-control"]:nth-of-type(2):checked ~ .slider {
  transform: translateX(100%);
}
.tabs
  input[name="tab-control"]:nth-of-type(2):checked
  ~ .content
  > section:nth-child(2) {
  display: block;
}
.tabs
  input[name="tab-control"]:nth-of-type(3):checked
  ~ ul
  > li:nth-child(3)
  > label {
  cursor: default;
  background: #4e73df;
  color: #fff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.tabs
  input[name="tab-control"]:nth-of-type(3):checked
  ~ ul
  > li:nth-child(3)
  > label
  svg {
  fill: #428bff;
}
@media (max-width: 600px) {
  .tabs
    input[name="tab-control"]:nth-of-type(3):checked
    ~ ul
    > li:nth-child(3)
    > label {
    background: rgba(0, 0, 0, 0.08);
  }
}
.tabs input[name="tab-control"]:nth-of-type(3):checked ~ .slider {
  transform: translateX(200%);
}
.tabs
  input[name="tab-control"]:nth-of-type(3):checked
  ~ .content
  > section:nth-child(3) {
  display: block;
}
.tabs
  input[name="tab-control"]:nth-of-type(4):checked
  ~ ul
  > li:nth-child(4)
  > label {
  cursor: default;
  color: #428bff;
}
.tabs
  input[name="tab-control"]:nth-of-type(4):checked
  ~ ul
  > li:nth-child(4)
  > label
  svg {
  fill: #428bff;
}
@media (max-width: 600px) {
  .tabs
    input[name="tab-control"]:nth-of-type(4):checked
    ~ ul
    > li:nth-child(4)
    > label {
    background: rgba(0, 0, 0, 0.08);
  }
}
.tabs input[name="tab-control"]:nth-of-type(4):checked ~ .slider {
  transform: translateX(300%);
}
.tabs
  input[name="tab-control"]:nth-of-type(4):checked
  ~ .content
  > section:nth-child(4) {
  display: block;
}
@keyframes content {
  from {
    opacity: 0;
    transform: translateY(5%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
@media (max-width: 1000px) {
  .tabs ul li label {
    white-space: initial;
  }
  .tabs ul li label br {
    display: initial;
  }
  .tabs ul li label svg {
    height: 1.5em;
  }
}
@media (max-width: 600px) {
  .tabs ul li label {
    padding: 5px;
    border-radius: 5px;
  }
  .tabs ul li label span {
    display: none;
  }
  .tabs .slider {
    display: none;
  }
  .tabs .content {
    margin-top: 20px;
  }
  .tabs .content section h2 {
    display: block;
  }
}

/* HACER MÃS GRANDE INPUT SEARCH  */
@media screen and (min-width: 575.99px) {
  .form-search-576 {
    width: 45vw !important;
  }
  .form-search-576 form .input-group {
    width: 100% !important;
  }
}
.active {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 500px) {
  #select_espacio {
    width: 40vw !important;
  }
}
@media screen and (min-width: 768px) {
  .nav-link {
    display: flex !important;
  }
  .nav-link > i {
    font-size: 20px !important;
  }
  .nav-link > span {
    font-size: 16px !important;
  }
  .sidebar .nav-item .collapse .collapse-inner .collapse-item,
  .sidebar .nav-item .collapsing .collapse-inner .collapse-item {
    padding: 0.3rem 1rem;
    display: block;
    color: #ffffffcc;
    text-decoration: none;
    border-radius: 0.35rem;
    white-space: nowrap;
  }

  .sidebar .nav-item .collapse .collapse-inner .collapse-item:hover,
  .sidebar .nav-item .collapsing .collapse-inner .collapse-item:hover {
    background-color: transparent;
    color: #fff;
  }
}
@media screen and (max-width: 767px) {
  .nav-search,
  .nav-alerts,
  .nav-messages,
  .texto-espacio {
    display: none !important;
  }
  #select_espacio {
    width: 30vw !important;
  }
}
.active > .nav-link,
.active > .nav-link > i {
  color: #f9f54b !important;
}
.active::before {
  content: "";
  position: absolute;
  left: 0;
  width: 2px;
  height: 50%;
  background-color: #f9f54b;
}

.bg-gradient-primary {
  background: #205e61 !important;
}
/*  ----------------------- ESPACIOS  ------------------- */
.seccion-espacios {
  background: #fff !important;
  border-radius: 4px;
  padding: 1rem;
  box-shadow: 0 1em 2em -0.5em rgba(0, 0, 0, 0.1);
}

.apga {
  height: 50px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.apga__logo-img {
  width: 50px;
}
.apga__name-h3 {
  font-size: 20px;
  font-weight: 800;
}
.espacio-opciones {
  display: flex;
  gap: 20px;
  /* background-color: red; */
}
.espacio__ordenar,
.espacio__filtrar {
  width: 25%;
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
}
.ordenar__label p,
.filtrar__label p,
.buscar__label p {
  /* background-color: purple; */
  /* padding: 0px; */
  display: inline;
  font-size: 14px !important;
}
.cantidad-espacios {
  font-size: 16px;
  margin: 10px 0;
}

.card {
  width: 100%;
  /* background-color: purple; */
  display: flex;
  flex-direction: row;
}
.card-img {
  width: 50%;
}
.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-body {
  width: 50%;
}
.agregar-espacio {
  /* background-color: red; */
  height: 100%;
  width: 100%;
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.agregar-espacio a {
  /* background-color: red; */
  height: 100%;
  width: 100%;
}
@media screen and (max-width: 1000px) {
  .card {
    flex-direction: column;
  }
  .card-img,
  .card-body {
    width: 100%;
  }
}
article.card-espacio {
  width: 100%;
  height: 240px;
  padding: 0;
  border-radius: 3px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  z-index: 1;
}
article.card-espacio .thumb {
  width: auto;
  height: 150px;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/397014/new-york-city.png")
    no-repeat center;
  background-size: cover;
  border-radius: 3px;
}
article.card-espacio .infos {
  width: auto;
  height: 240px;
  position: relative;
  padding: 14px 24px;
  background: #fff;
  transition: 0.4s 0.15s cubic-bezier(0.17, 0.67, 0.5, 1.03);
}
article.card-espacio .infos .title {
  position: relative;
  margin: 10px 0;
  letter-spacing: 3px;
  color: #152536;
  font-family: "Grotesque Black", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  text-shadow: 0 0 0px #32577f;
}
article.card-espacio .infos .favorite {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-100%);
  width: 35px;
  height: 23px;
  display: inline-block;
}
article.card-espacio .infos .date,
article.card-espacio .infos .seats {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 0.85rem;
  color: rgba(21, 37, 54, 0.7);
  font-family: "Grotesque", sans-serif;
}
article.card-espacio .infos .seats {
  display: inline-block;
  margin-bottom: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: 0.5s 0.25s cubic-bezier(0.17, 0.67, 0.5, 1.03);
}
article.card-espacio .infos .txt {
  font-family: "Merriweather", sans-serif;
  line-height: 2;
  font-size: 0.95rem;
  color: rgba(21, 37, 54, 0.7);
  opacity: 0;
  transition: 0.5s 0.25s cubic-bezier(0.17, 0.67, 0.5, 1.03);
}
article.card-espacio .infos .details {
  position: absolute;
  left: 0;
  left: 0;
  bottom: 0;
  margin: 10px 0;
  padding: 20px 24px;
  letter-spacing: 1px;
  color: #4e958b;
  font-family: "Grotesque Black", sans-serif;
  font-size: 0.9rem;
  text-transform: uppercase;
  cursor: pointer;
  opacity: 0;
  transition: 0.5s 0.25s cubic-bezier(0.17, 0.67, 0.5, 1.03);
}
article.card-espacio:hover .infos {
  transition: all 0.5s ease-in-out;
  transform: translateY(-150px);
}
.truncate-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.card-espacio:hover .truncate-text {
  text-overflow: initial;
  white-space: normal;
}
article.card-espacio:hover .infos .seats,
article.card-espacio:hover .infos .txt,
article.card-espacio:hover .infos .details {
  opacity: 1;
}

.star {
  visibility: hidden;
  font-size: 30px;
  cursor: pointer;
}
.star:before {
  content: "\2605";
  position: absolute;
  visibility: visible;
}
.star:checked:before {
  content: "\2606";
  position: absolute;
}

.opciones .opciones-espacio {
  display: none;
}

.opciones:hover {
  cursor: pointer;
}
.opciones:hover .opciones-espacio {
  display: block;
  position: relative;
  top: 30px;
  left: -30px;
}

/* --------------- PERSONALIZAR TABAS PARA PERFIL */
.tabs.tabs-perfil {
  /* background: aqua !important; */
  padding: 0 !important;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  width: 100%;
  background: transparent;
  box-shadow: none;
}
.personalizar-tabs {
  margin: 0;
  /* background: pink; */
  height: auto;
  padding: 0 !important;
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  height: 50px;
  padding-bottom: 5px !important;
  border-bottom: 1px solid #e9ecf1;
}
.tabs.tabs-perfil .content {
  background: #fff;
  width: 100%;
  box-shadow: 0 1em 2em -0.5em rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.tabs-perfil .tabs-ul-perfil {
  background: #e9ecf1;
  color: #858796;
  box-sizing: border-box;
  height: 100%;
  display: flex !important;
  border-radius: 10px;
}
.title-section {
  font-size: 20px;
}
.tabs-li-perfil {
  /* background: rosybrown; */
  height: 100% !important;
  /* box-sizing: border-box; */
  /* flex: 1; */
  /* width: 25%; */
  /* padding: 0 10px; */
  /* text-align: center; */
  display: flex !important;
  align-items: center !important;
  padding: 10px;
  padding-left: 24px;
  padding-right: 24px;
}
.tabs-li-perfil:hover {
  background-color: #007bff;
  color: #fff;
}
.tabs-perfil
  input[name="tab-control"]:nth-of-type(1):hover
  ~ .personalizar-tabs
  .tabs-ul-perfil
  .tabs-li-perfil:nth-child(1) {
  cursor: pointer;
  background: #007bff;
  color: #fff;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.tabs-perfil
  input[name="tab-control"]:nth-of-type(4):hover
  ~ .personalizar-tabs
  .tabs-ul-perfil
  .tabs-li-perfil:nth-child(4) {
  cursor: pointer;
  background: #007bff;
  color: #fff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.tabs-perfil
  input[name="tab-control"]:nth-of-type(1):checked
  ~ .personalizar-tabs
  .tabs-ul-perfil
  .tabs-li-perfil:nth-child(1) {
  cursor: default;
  background: #0062cc;
  color: #fff;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.tabs-perfil
  input[name="tab-control"]:nth-of-type(2):checked
  ~ .personalizar-tabs
  .tabs-ul-perfil
  .tabs-li-perfil:nth-child(2) {
  cursor: default;
  background: #0062cc;
  color: #fff;
  /* border-radius: 25px; */
}
.tabs-perfil
  input[name="tab-control"]:nth-of-type(3):checked
  ~ .personalizar-tabs
  .tabs-ul-perfil
  .tabs-li-perfil:nth-child(3) {
  cursor: default;
  background: #0062cc;
  color: #fff;
  /* border-radius: 25px; */
}
.tabs-perfil
  input[name="tab-control"]:nth-of-type(4):checked
  ~ .personalizar-tabs
  .tabs-ul-perfil
  .tabs-li-perfil:nth-child(4) {
  cursor: default;
  background: #0062cc;
  color: #fff;
  /* border-radius: 25px; */
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.tabs-perfil .tabs-ul-perfil li label {
  width: auto;
  background: blue;
  color: #fff !important;
  transition: all 0.3s ease-in-out;
  color: #929daf;
  /* padding: 5px auto; */
  /* overflow: hidden; */
  /* text-overflow: ellipsis; */
  /* display: block; */
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  /* white-space: nowrap; */
  /* -webkit-touch-callout: none; */
}
.tabs .slider {
  position: relative;
  /* background-color: aqua; */
  /* width: 25%; */
  /* transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07); */
}
.tabs .content {
  margin-top: 30px;
}
.tabs .content section {
  display: none;
  animation-name: content;
  animation-direction: normal;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  line-height: 1.4;
}
.tabs .content section h2 {
  color: #428bff;
  display: none;
}
.tabs .content section h2::after {
  content: "";
  position: relative;
  display: block;
  width: 30px;
  height: 3px;
  background: #428bff;
  margin-top: 5px;
  left: 1px;
}
/* --------------- PERSONALIZAR TABAS PARA PERFIL */
